:root {
  --thm: #404040;
  --text-area: #686868;
}

body {
  margin: 0;
  background-color: var(--thm);
}

#editor {
  display: flex;
  justify-content: space-between;
}
#editor div {
  width: -webkit-fill-available;
}
#editor div textarea {
  /* Color Formatting */
  color: #fff;
  background-color: var(--text-area);
  border: 1px solid #fff;

  /* Size */
  height: 30vh;
  width: -webkit-fill-available;
  resize: none;
  padding: 10px;
}

#output iframe {
  width: -webkit-fill-available;
  height: 70vh;
}
